doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Boxicons
  link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
  // My CSS
  link(rel='stylesheet' href='/my_css/dash.css')
  title DockVille
// SIDEBAR
section#sidebar
  a.brand(href='./admindash')
    i.bx.bxs-car
    span.text DockVille
  ul.side-menu.top
    li.active
      a(href='./admindash')
        i.bx.bxs-dashboard
        span.text Dashboard
    li
      a(href='./cardash')
        i.bx.bxs-car
        span.text Car parking unit
    li
      a(href='./batterydash')
        i.bx.bxs-battery
        span.text Battery section
    li
      a(href='./tyredash')
        i.bx.bxs-gas-pump
        span.text Car Tyre Clinic
  ul.side-menu
    a.logout(href='/api/landing')
      i.bx.bxs-log-out-circle
      span.text Logout
// SIDEBAR
// CONTENT
section#content
  // NAVBAR  STARTS
  nav
    i.bx.bx-menu
    form(action='#')
      .form-input
        // <input type="search" placeholder="Search...">
        button.search-btn(type='submit')
          i.bx.bx-search
    input#switch-mode(type='checkbox' hidden='')
    label.switch-mode(for='switch-mode')
    a.profile(href='#')
      img(src='img/people.png')
  // NAVBAR ENDS HERE
  // MAIN
  main
    .head-title
      .left
        h1 Welcome Manager,
        ul.breadcrumb
          li
            a(href='./admindash') Dashboard
          li
            i.bx.bx-chevron-right
          li
            a.active(href='./admindash') Home
    ul.box-info
      li
        a(href='./cardash')
          i.bx.bxs-car
          span.text
            h3 Parking lot
            p 300 vehicles
            p Total revenue
      li
        a(href='./tyredash')
          i.bx.bxs-gas-pump
          span.text
            h3 Car Tyre Clinic
            p  20 activities
            p Total revenue
      li
        a(href='./batterydash')
          i.bx.bxs-battery
          span.text
            h3 Battery section
            p 13 Orders
            p Total revenue
    .table-data
      .order
        .head
          h3 Employees
        table
          thead
            tr
              th Name
              th Phone number
              th 
              th Address
              th Role
          tbody
            tr
              td
                //- img(src='img/people.png')
              td
              td 
              td 
              td 
              td 
            tr
              td
                //- img(src='img/pc3.jpg')
              td
              td 
              td 
              td 
              td 
            tr
              td
                //- img(src='img/pic2.jpg')
              td
              td
              td
              td 
              td 
            tr
              td
              td
              td 
              td 
              td 
              td 
            tr
              td
              td
              td
              td 
              td 
              td 
  // MAIN
// CONTENT
script(src='dash.js')
