doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/my_css/batt.css')
  title Battery register
header
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a#logo.navbar-brand(href='landing.pug')
        img#image(src='/Images/logo.png')
        | Dockville
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='')
          li.nav-item
            a.nav-link(href='parkdash.pug') Parking services
          li.nav-item
            a.nav-link(href='batterydash.pug') Battery hire
          li.nav-item
            a.nav-link(href='tyredash.pug') Tyre clinic
.box
  .card
    .card-body
      h4.title battery Unit
      form#formId.parking-form(name='battery' action='/api/regBatt' method='POST' onsubmit='return Validate(event)')
        .row
          .col
            label(for='firstname') First name
            input#fname.form-control(type='text' aria-label='First name' name='fname')
            span#fNameError
          .col
            label(for='lastname') Last name
            input#lname.form-control(type='text' aria-label='Last name' name='lname')
            span#lNameError
          .row
            .col
              label(for='telephone') Telephone
              input#telephone.form-control(type='text' aria-label='telephone' name='telephone')
              span#telephoneError
            .col
              label.form-label(for='lastname') Gender
              select#gender.form-select(aria-label='Default select example' name='gender')
                option(value='') Select
                option(value='male') Male
                option(value='female') Female
          .row
            .col
              label.form-label(for='battype') Battery type
              input#battype.form-control(type='text' aria-label='battype' name='battype')
              span#battypeError
            .col
              label.form-label(for='battsize') Battery size
              input#battsize.form-control(type='text' aria-label='batterysize' name='batterysize')
              span#battsizeError
        .row
          .col
            label(for='date') Date Taken
            input#date.form-control(type='date' aria-label='date' name='date')
            span#dateError
          .col
            label(for='timehired') Time-hired
            input#timehired.form-control(type='time' aria-label='time' name='timehired')
            span#timehiredError
        .col
          label.form-label(for='timereturned') Time returned
          input#timereturned.form-control(type='time' aria-label='timereturned' name='timereturned')
          span#timereturnedError
        .row
          .col
            label.form-label(for='charge') Charge
            input#charge.form-control(type='charge' aria-label='charge' name='charge')
            span#chargeError
          .col
            label.form-label(for='receipt')  Receipt
            input#receipt.form-control(type='receipt' aria-label='receipt' name='receipt')
            span#receiptError
        button.btn.signin(type='submit' text='white') Submit
footer
  footer.footer(style='background-color: black; color: white; height: 150px; text-align: center;')
    | Copyright &amp; copy; DockvilleInc. 
    br
    |         Credits;kizzaeverdeen@gmail.com
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
script(src='/my_js/batt.js')
