doctype html
head
  meta(charset='UTF-8')
  title Dockville
  link(href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='stylesheet' href='/my_css/index.css')
section.hero
  header#header
    a#logo
      img#image(src='/Images/logo.png')
  .card
    header.hero-header
      h1.hero-title Dockville Parking
  footer.hero-footer
    a.button(href='/api/dash.pug') Get started
// CC Winfred Claire Nakamatte
