doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap-5.3.1-dist/css/bootstrap.css')
  link(rel='stylesheet' href='/my_css/forms.css')
  title Tyre
header
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a#logo.navbar-brand(href='landing.pug')
        img#image(src='/Images/logo.png')
        | Dockville
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='parkdash.pug') Parking services
          li.nav-item
            a.nav-link(href='batterydash.pug') Battery hire
          li.nav-item
            a.nav-link(href='tyredash.pug') Tyre clinic
section
  .container.py-5
    .row
      .col-md-6
        .card.card-registration.card-registration-1
          .card-body.p-5
            h3.fw-normal.mb-5(style='color: black;') Client Information
            form(method='POST' action='/api/regTyre')
              // Client Information content
              .form-group
                label.form-label(for='nameOfDriver')
                  | Name of Driver 
                  span.required-field *
                input#nameOfDriver.form-control.form-control-lg(type='text')
              .form-group
                label.form-label(for='tel')
                  | Telephone number
                  span.required-field *
                input#tel.form-control.form-control-lg(type='text')
              .form-group
                label.form-label(for='nin') NIN
                input#nin.form-control.form-control-lg(type='text')
              .form-group
                div
                  label.form-label Gender
                  br
                  .form-check.form-check-inline
                    input#male.form-check-input(type='radio' name='gender' value='male')
                    label.form-check-label(for='male') Male
                  .form-check.form-check-inline
                    input#female.form-check-input(type='radio' name='gender' value='female')
                    label.form-check-label(for='female') Female
              .row
                .col
                  .form-group
                    label.form-label(for='timein')
                      | Time-in 
                      span.required-field *
                    input#timein.form-control.form-control-lg(type='time')
                .col
                  .form-group
                    label.form-label(for='timeout')
                      | Time-out 
                      span.required-field *
                    input#timeout.form-control.form-control-lg(type='time')
              .row
                .col-md-6.mb-4.pb-2
                  .form-group
                    #dateForm
                      label(for='date') Select a date:
                      input#date(type='date')
              // ... (input fields) ...
      .col-md-6
        .card.card-registration.card-registration-2
          .card-body.p-5
            h3.fw-normal.mb-5(style='color: black;') Tyre Details
            form(method='POST' action='/api/regTyre')
              // Tyre details content
              .row
                .col
                  .form-group
                    label.form-label(for='tyreMake')
                      | Tyre make 
                      span.required-field *
                    input#tyreMake.form-control.form-control-lg(type='text')
                .col
                  .form-group
                    label.form-label(for='tyreSize')
                      | Tyre size
                      span.required-field *
                    input#tyreSize.form-control.form-control-lg(type='text')
              .row
                .col
                  .form-group
                    label.form-label(for='tyreServices')
                      | Tyre services 
                      span.required-field *
                    select#tyreServices.form-control.form-control-lg
                      option(value='' selected='' disabled='') Select tyre service
                      option(value='pressure') Pressure
                      option(value='puncturefixing') Puncture fixing
                      option(value='valves') Valves
                .col
                  .form-group
                    label.form-label(for='carModel')
                      | Car model 
                      span.required-field *
                    input#carModel.form-control.form-control-lg(type='text')
              .form-group
                label.form-label(for='charge') Charge
                input#charge.form-control.form-control-lg(type='text' placeholder='Charge')
              .form-group
                label.form-label(for='receipt') Receipt
                input#receipt.form-control.form-control-lg(type='text' placeholder='Receipt')
              br
              br
              input.btn.btn-light.btn-lg(type='submit' data-mdb-ripple-color='dark' value='Submit')
footer.footer(style='background-color: black; color: white; height: 150px; text-align: center;')
  | &copy; DockvilleInc. 
  br
  |     Contact: kizzaeverdeen@gmail.com
script(src='/bootstrap-5.3.1-dist/js/bootstrap.js')
script(src='/my_js/validation.js')
