body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.box {

    padding-top: 30px;
    margin-left: 30%;
    margin-bottom: 50px;

}

.card {
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(181, 180, 180, 0.5);
    width: 500px;
    align-items: center;
}

.sign {
    float: left;
    margin-left: 1250px;
}

.btn {
    background-color: blue;
    border-radius: 20px;
    width: 90px;

}

.btn.signin {
    margin-left: 200px;
    margin-top: 20px;
    width: 120px;
    font-weight: bolder;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.parking-form {
    margin-top: 20px;
    text-align: center;

}

#image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}